<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <nav class="nav-bar">
        <a class="navbar-brand" href="/">Shop Database Tool</a>
        <div class="main-nav-bar">
            <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/shop-project/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="people">People</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="purchases">Purchases</a>
                  </li>
              </ul>
        </div>
        <form class='main-seach-bar' method='GET'>
            <input class="input-search-bar" type="search" placeholder="Search" name='navsearch' aria-label="Search">
            <button class="button-search" type="submit">Search</button>
        </form>
    </nav>
    <div id="main-container">
        <section id="main-section">
            {% block main_section %}
            {% endblock %}
        </section>
        <aside id='main-aside'>
            <!-- TODO -->
        </aside> 
    </div>
    <footer id="main-footer">
        {% block footer %}{% endblock %}
        <!-- Putting the copy right at the absolute bottom-->
        &copy; Copyright 2020 by <a href="#">Me</a>.
    </footer>   
    
</body>
</html>